@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


/* -------- Base styles -------- */
html {
    font-size: 16px;
    color: #0E35AF;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 auto;
    /* max-width: 900px; */
    background-color: #F6EFEF;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Rokkitt', serif; 
    margin-top: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    margin: 15px 2px;
}

ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}

/* -------- Links -------- */
main a:link, footer a:link {
    color: #FF5050;
}

main a:hover, main a:active, footer a:hover, footer a:active {
    color: #1264B1;
}

main a:visited, footer a:visited {
    color: #0E35AF;
}

main section h1 a {
    text-decoration: none;
}

main section h1 a:link, main section h1 a:visited {
    color: #0E35AF;
}

main section h1 a:hover, main section h1 a:active {
    color: #FF5050;
}

footer div ul a {
    text-decoration: none;
}

footer div ul a:visited {
    color: #FF5050;
}

/* --------  All navigations --------  */

/* Main navigation menu */
.mainNav {
    background-color: #FF5050;
}
.mainNav ul {
    font-size: 1.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mainNav li {
    padding: 5px 50px;
}

.mainNav a:link, .mainNav a:visited {
    color: #FFFF;
}

.mainNav a:hover, a:active {
    color: #FFDD57
}

#mobNav {
    display: none;
}

#avsnitt ul {
    display: none;
    position: absolute;
    background-color: #FF5050;
    margin-left: -70px;
}

#avsnitt:hover ul {
    display: block;
}

/* Butik - menu */
#butik ul {
    display: none;
}

#butik ul li {
    padding: 10px 20px;     
}

#butik:hover ul {
    display: block;
    position: absolute;
    margin-left: -20px;
    background-color: #FF5050;
}

#butik:hover ul ul {
    font-size: 0.75em;
    display: block;
    position: relative; 
}

#butik ul ul li {
    margin-left: 15px;
    padding: 0px;
}

#butik ul ul li {
    display: none;
}

#butik a {
    display: block;    
}

/* Courtesy nav links */
.courtesy ul {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.courtesy ul li {
    padding: 10px 10px;  
}

.courtesy a:link, .courtesy a:visited {
    color: #0E35AF
}

.courtesy a:hover, .courtesy a:active {
    color: #1264B1
}

.courtesy li:hover {
    background-color: #1264b13a;
}

/* Breadcrumbs */
.breadcrumbs {
    background-color: #F4F5F6;
}
.breadcrumbs ul {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}

.breadcrumbs ul li {
    padding: 5px 0px 5px 0px;    
}

.breadcrumbs a:link, .breadcrumbs a:visited {
    color: #FF5050
}

.breadcrumbs a:hover, .breadcrumbs a:active {
    color: #1264B1
}

.breadcrumbs li+li:before {
    content: "->";
    margin: 0px 5px;
    color: #FF5050;
}

.breadcrumbs li:last-of-type {
        font-weight: 600;
}
/*    END of Navigations    */


/* --- Styles for different parts of the page  --- */

header {
    background-color: #FFFF;
}

main {
    margin-top: 20px;
    margin-bottom: 50px;
}

section {
    padding-bottom: 50px;
    margin-top: 30px;
    border-bottom: dotted #FF5050;
}

main section p+p {
    clear: both;
}

#frontpage {
    text-align: center;
    font-size: 3rem;
}

fieldset {
    border-style: none;
    margin-top: 30px;
}

#name, #email, #message {
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px;   
}


button, input, textarea {
    font-family: inherit;
    font-size: 100%;
}

textarea {
    width: 50%
}

#send {
    margin-top: 15px;
}

footer {
    background-color: #FF5050;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 40px;
}

footer div {
    background-color: #F6EFEF;
    width: 25%;
    padding: 20px;
    font-size: 1.2rem;
}

footer div h3 {
    text-align: center;
    margin-bottom: 15px;
}

footer div ul {
    margin-left: 40px;
    list-style: disc;
}

#box3 {
    text-align: center;
}



/*  -------- Images   --------  */
img {
    max-width: 100%;
}

#headerImg {
    text-align: center;
}

#mob-logga {
    display: none;
}

section img {
    float: right;
    margin: 15px;
}

img#itunes {
    border-radius: 13px;
    width: 300px;
    height: 83px;
}

footer div.footerImg {
    margin: 0 auto;
}

footer div.footerImg:hover {
    background-color: #0e36af31;
    border-radius: 100px;
}


/*   Grid layout    */ 
body {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: min-content;
    grid-template-areas: 
    "header  header  header"
    "nav     nav     nav"
    "crumbs  crumbs  crumbs"
    ".       main    ."
    "footer  footer  footer";
}

header {
    grid-area: header;
}

.mainNav {
    grid-area: nav;
}

.breadcrumbs {
    grid-area: crumbs;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}
/*    END of grid layout    */


/* Media queries */

@media screen and (max-width: 400px) {

    #mob-logga {
        display: block;
    }

    #headerImg {
        display: none;
    }

    .courtesy {
        display: none;
    }

    .mainNav {
        display: none;
    }

    body {
        display: block;
    }

    #mobNav {
        background-color: #FF5050;
        color: #ffffff;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        overflow-x: auto;
    }

    #mobNav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;      
        position: relative;
    }

    #mobNav ul ul {
        display: none;
    }

    #mobNav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #avsnittMeny, #butikMeny {
        background-color: #F4F5F6;
        color: #ffffff;
        display: block;
        position: fixed;
        padding-top: 5px;
        font-size: 1.2rem;
        bottom: 100;
        left: 0;
        width: 100%;
        height: 36px;
        overflow-x: auto;
    }

    #butikMeny a:link, #butikMeny a:visited, #avsnittMeny a:link, #avsnittMeny a:visited {
        color: #FF5050;
    }

    main {
        margin: 10px;
    }

    #name, #email, #message {
        width: 100%;  
    }

    footer {
        margin-bottom: 90px;
    }

    footer div {
        flex-direction: column;
        width: 100%;
    }
    footer div.footerImg {
        width: 20%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    section img {
        float: none;
        margin: auto;
    }

    #frontpage {
        text-align: center;
        font-size: 2rem;
    }
}