@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 auto;
    max-width: 900px;
    background-color: #F6EFEF;
}

h1, h2, h3 {
    font-family: 'Rokkitt', serif; 
    margin-top: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    margin: 15px 2px;
}

ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}

/* Links */
main a:link {
    color: #FF5050;
}

main a:hover, a:active {
    color: #1264B1;
}

main a:visited {
    color: #0E35AF;
}
/*
body {
    display: grid;
    grid-template-columns: 50px auto 40% 50px;
    grid-template-rows: min-content;
    grid-template-areas: 
    "header  header  header  header"
    "nav     nav     nav     nav"
    "crumbs  crumbs  crumbs  crumbs"
    ".       main    aside   ."
    "footer  footer  footer  footer";
}

header {
    grid-area: header;
}

.mainNav {
    grid-area: nav;
}

.breadcrumbs {
    grid-area: crumbs;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}
*/

/* Main navigation menu */
.mainNav ul {
    font-size: 1.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mainNav li {
    padding: 5px 50px;
}

.mainNav a:link, .mainNav a:visited {
    color: #FFFF;
}

.mainNav a:hover, a:active {
    color: #FFDD57
}

#avsnitt ul {
    display: none;
    position: absolute;
    background-color: #FF5050;
    margin-left: -70px;
}

#avsnitt:hover ul {
    display: block;
}

/* Butik - menu */
#butik ul {
    display: none;
}

#butik ul li {
    padding: 18px;     
}

#butik:hover ul {
    display: block;
    position: absolute;
    background-color: #FF5050;
}

#butik:hover ul ul {
    font-size: 0.75em;
    display: block;
    position: relative; 
  
}

#butik ul ul li {
    margin-left: 15px;
    padding: 0px;
}

#butik a {
    display: block;    
}

/* Courtesy nav links */
.courtesy ul {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.courtesy ul li {
    padding: 10px 10px;  
}

.courtesy a:link, .courtesy a:visited {
    color: #0E35AF
}

.courtesy a:hover, .courtesy a:active {
    color: #1264B1
}

.courtesy li:hover {
    background-color: #1264b13a;
}

/* Breadcrumbs */
.breadcrumbs ul {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}

.breadcrumbs ul li {
    padding: 5px 0px 5px 0px;    
}

.breadcrumbs a:link, .breadcrumbs a:visited {
    color: #FF5050
}

.breadcrumbs a:hover, .breadcrumbs a:active {
    color: #1264B1
}

.breadcrumbs li+li:before {
    content: "->";
    margin: 0px 5px;
    color: #FF5050;
}

.breadcrumbs li:last-of-type {
        font-weight: 600;
}

header {
    background-color: #FFFF;
}

.mainNav {
    background-color: #FF5050;
}

.breadcrumbs {
    background-color: #F4F5F6;
}

main {
    margin-top: 20px;
    margin-bottom: 50px;
}
/*
aside {
    margin-top: 40px;
    margin-left: 20px;
}
*/


footer {
    background-color: #FF5050;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer div {
    background-color: #F6EFEF;
    width: 25%;
    text-align: center;
}

img {
    max-width: 100%;
}

section img {
    float: right;
}