@charset "UTF-8";

/* Grid for webshop in main-area of page */
.wrapper {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas: 
    "nav  content";
}

.productMenu {
    grid-area: nav;
}

#webshop {
    grid-area: content;
}

/*  Presentation on main webshop page */
.product img {
    height: 200px;
}

.product a img:hover {
    transform: scale(1.2);
    transition: 0.5s ease-out;
}

.product {
    padding: 10px;
}

#webshop {
    display: flex;
    flex-wrap: wrap; 
    align-content: space-between;
    justify-content: center;
    margin:0;
}

/*  Style for single product pages */
.productPage {
    display: flex;
    flex-direction: row;
    margin: 50px;
} 

.productImg img {
    max-height: 300px;
}

#addToCart {
    background-color: #FF5050;
    display: border-box;
    margin-left: 10px;
    padding: 10px 50px;
}

.description {
    padding-left: 20px;
}

.description a {
    text-decoration: none;
}

.description a:link, .description a:visited {
    color: #FFFFFF;
}

.description a:hover, .description a:active {
    color: #FFDD57;

}

@media screen and (max-width: 400px) {

    .productMenu {
        display: none;
    }

    .productPage {
        display: flex;
        flex-direction: column;
    }

}